html, body {
  height: 100%;
  color: #fff !important;
}

#hero {
  background: url('../src/assests/carWorld.jpg') no-repeat;
  background-size: cover;
  background-position: 0 60%;
}

/* .hero-content {
  
} */

.navbar {  
  width: 100%;
  background: none !important;
}

@media(max-width:34em) {
  .navbar {
    background: gray !important;
  }
}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color:goldenrod;
}

.nav-item {
  padding:0 1rem;
}

@media(max-width: 34em) {
  .nav-item {
    padding: 0;
  }
}

@media(max-width: 34em) {
  .nav-link {
    font-weight: normal;
    color: #fff !important;
  }
}

.feature-wrapper {
  color: goldenrod;
}

#join-container {
  background: url('../src/assests/carSpeed.jpg') no-repeat;
  background-size: cover;
  background-position: 0 65%;
}

#join-container h2 {
  letter-spacing: 4px;
  font-weight: bold;
}

#join-container h4 {
  color: darkgray;
}

#join-container .form-control {
  background: gainsboro;
  border: 2px solid #2f2f2f;
}

#join-container .btn {
  color:#000;
}

footer p {
  color: goldenrod;
}